@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import "vars";

.Post {
  width: 397px;
  height: 490px;
  padding: 64px 55px 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: color 0.5s, background-color 0.5s, padding 1s;

  &_title {
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    line-height: 44px;
    text-transform: capitalize;
    margin: 0;
    color: $title-color;
  }

  &_body {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: $body-color;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &_footer {
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.6px;
    color: $id-color;
  }

  &:hover {
    background-color: $background-color;
    cursor: url("../Images/cursor1.png"), pointer;
  }
}

@media screen and (max-width: 1679px) {
  .Post {
    padding: 64px 44px 37px;
  }
}

@media screen and (max-width: 900px) {
  .Post {
    height: auto;
    width: 672px;
    box-sizing: border-box;
    padding: 40px 64px 60px;
    &_title {
      padding: 24px 0 18px;
    }
  }
}

@media screen and (max-width: 675px) {
  .Post {
    width: 100vw;
    padding: 40px 24px 60px;
  }
}
